.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
    font-size: 20px;
}

.input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ff00cc;
    border-radius: 10px;
    background-color: transparent;
    color: aliceblue;
}

.input:focus {
    outline: none;
    border-color: #33ccff;
}

.button {
    padding: 10px 20px;
    border: 1px solid #ff00cc;
    border-radius: 10px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 16px;
}

.button:hover {
    background-color: #ff00cc;
}

.formImageContainer {
    margin-bottom: 20px;
}

.formImage {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}