.autorization {
    font-size: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.autorizationLink {
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    display: inline-block;
}

.autorizationLink:hover {
    color: #ff00cc;
    transform: scale(1.1);
}

.inputIcon {
    width: 45px;
    height: 45px;
    filter: invert(1);
}