
.logoContainer {
    flex-grow: 1;
}

.headerSection {
    display: flex;
    align-items: center;
}

.navList {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    gap: 20px;

}

.navLink {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.navLink:hover {
    color: #ff00cc;
    transform: scale(1.1);
}
