.headerLogo {
    width: 45px;
    height: 45px;
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

/* Обединить логотип и название.
    Объединить стили для логотипа и названия
*/

.headerLogo:hover {
    transform: scale(1.1);
}

.logoTitle {
    font-size: 30px;
    color: white;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
}

.logoTitle:hover {
    color: #ff00cc;
}




